<!--================ Banner Area =================-->
  <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-left">
                    <h2>Contactanos</h2>
                    <div class="page_link">
                        <a href="index.html">Home</a>
                        <a href="contact.html">Contactanos</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--================End Banner Area =================-->
<!--================ Start Appointment Area =================-->
    <section class="appointment-area">
        <div class="container">
            <div class="row justify-content-between align-items-center appointment-wrap">
                <div class="col-lg-5 col-md-6 appointment-left">
                    <h1>
                        Horas de Servicio
                    </h1>
                    <p>
                        Se muestra la hora de servicio durante las semana para poder agendar tu cita.
                    </p>
                    <ul class="time-list">
                        <li class="d-flex justify-content-between">
                            <span>Lunes-Viernes</span>
                            <span>08.00 am - 7.00 pm</span>
                        </li>
                        <li class="d-flex justify-content-between">
                            <span>Sabado</span>
                            <span>08.00 am - 10.00 pm</span>
                        </li>
                        <li class="d-flex justify-content-between">
                            <span>Domingo</span>
                            <span>08.00 am - 10.00 pm</span>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-6 pt-60 pb-60">
                    <div class="appointment-right">
                        <form class="form-wrap" action="#">
                            <h3 class="pb-20 text-center mb-20">Agenda una cita</h3>
                            <input type="text" class="form-control" name="name" placeholder="Nombre del paciente" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Patient Name'">
                            <input type="text" class="form-control" name="phone" placeholder="Telefono " onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone'">
                            <input type="email" class="form-control" name="email" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'">
                            <input id="datepicker1" name="dop" class="dates form-control" placeholder="Dia" type="text">
                            <div class="form-select" id="service-select">
                                <select>
                                    <option data-display="">Disease Type</option>
                                    <option value="1">Type One</option>
                                    <option value="2">Type Two</option>
                                    <option value="3">Type Three</option>
                                    <option value="4">Type Four</option>
                                </select>
                            </div>
                            <input id="datepicker2" class="dates form-control" placeholder="Dia de cita" type="text">
                            <textarea name="messege" class="" rows="5" placeholder="Mensaje" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'"></textarea>
                            <div class="text-center confirm_btn_box">
                                <button class="main_btn text-uppercase">Confirmar cita</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Appointment Area =================-->

<!--================ About Myself Area =================-->
    <section class="about_myself pad_bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pr-0">
                    <div class="about_img">
                        <img class="img-fluid w-100" src="img/about-me.jpg" alt="">
                    </div>
                </div>

                <div class="col-lg-6 pl-0">
                    <div class="about_box">
                        <div class="section-title-wrap text-left">
                            <h1>Acerca de nosotros</h1>
                            <p>
                                Medico general egresado de la Universidad Autonoma de Aguascalientes
                                con mas de 40 anos de experiencia, trabajando en diversos lugares de la ciudad de Irapuato, y ahora radicando en la ciudad de Aguascalientes.
                            </p>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================ End About Myself Area =================-->


<!--================ Start Feedback Area =================-->
    <section class="feedback_area section_gap relative">
        <div class="container">
            <div class="row justify-content-center section-title-wrap">
                <div class="col-lg-12">
                    <h1>Disfrute de los comentarios de nuestros clientes</h1>
                    <p>
                         Me pareció excelente ya que permite conocer desde la ubicación hasta el curriculum del doctor. Permite obtener la cita en línea a partir de varias opciones, e incluso hasta muestra el costo de los procedimientos
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!--================ End Feedback Area =================-->



<script>
    $('#submit').click(function(){
        console.log($('#fecha').val()+' '+$('#hora').val());
        $.ajax({
            url:'controller/calendarController.php',
            method: 'POST',
            data:{
                'nombre' : $('#nombre').val(),
                'telefono' : $('#telefono').val(),
                'email' : $('#email').val(),
                'nacimiento' : $('#nacimiento').val(),
                'fecha' : $('#fecha').val()+' '+$('#hora').val(),
                'mensaje': $('#mensaje').val()
            },
            success:function(data){
                console.log(data);
                alert('Se hizooo');
            },
            error:function(error){
                console.log(error);
                alert(':(');
            }
        })
    });
</script>