<div class="container">
	<div class="form-header">
	    <h3 class="form-title"><i class="fa fa-user"></i> Inicia sesion (Administrador) </h3><br>            
	  </div>
	<div class="row">
		 <label  class="control-label">Email</label>
		 <input type="text" ng-model="email" placeholder="Correo Electrónico" class="form-control"><br>
		
	</div>
	<div class="row">
		 <label  class="control-label">Password</label>
		 <input type="password" ng-model="password" placeholder="Contraseña"  class="form-control"><br>
	</div>
	 <div class="row">	
		<button type="button" class="main_btn text-uppercase" ng-click="login()">Ingresar</button>
	</div>
</div>