<!--================ Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-left">
                <h2>Departamentos</h2>
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="doctors.html">Nuestros doctores</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Banner Area =================-->
<!--================ Procedure Category Area =================-->
<section class="procedure_category section_gap_custom">
    <div class="container">
        <div class="row justify-content-center section-title-wrap">
            <div class="col-lg-12">
                <h1>Categoria de servicios</h1>
                <p>
                    EL principal objetivo es brindar un servicio de salu de calidad brindando citas medicas de manera continua o el tratamiento de emergencias y en caso de ser necesario referirlos con otros especialistas y doctores.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 mb-30">
                <div class="categories_post">
                    <img src="img/procedure/p1.jpg" alt="Procedure">
                    <div class="categories_details">
                        <div class="categories_text">
                            <div class="border_line"></div>
                            <a href="single-blog.html">
                                <h5>Servicios de emergencia</h5>
                            </a>
                            <div class="border_line"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-30">
                <div class="categories_post">
                    <img src="img/procedure/p2.jpg" alt="Procedure">
                    <div class="categories_details">
                        <div class="categories_text">
                            <div class="border_line"></div>
                            <a href="single-blog.html">
                                <h5>Citas medicas</h5>
                            </a>
                            <div class="border_line"></div>
                        </div>
                    </div>
                </div>
            </div>
     
        </div>
    </div>
</section>
<!--================ End Procedure Category Area =================-->