<!-- start footer Area -->
<footer class="footer-area section_gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-2  col-md-6">
                <div class="single-footer-widget">
                    <h6>Podemos ayudarte</h6>
                    <ul class="footer-nav">
                        <li>
                            <a href="#">Preguntas</a>
                        </li>
                        <li>
                            <a href="#">Privacidad</a>
                        </li>
                        <li>
                            <a href="#">Contactanos</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-lg-4  col-md-6">
                <div class="single-footer-widget mail-chimp">
                    <h6 class="mb-20">Llamanos</h6>
                    <p>
                        Aguascalientes,Mexico.Av.Lomas Altas 282
                        Villas de la Cantera
                    </p>
                    <h3>449-345-56-78</h3>
                    <h3>449-456-67-43</h3>
                </div>
            </div>
            <div class="col-lg-6  col-md-12">
                <div class="single-footer-widget newsletter">
                    <h6>Recibe informacion</h6>
                    <p>Conoce sobre nuestros nuevos servicios que podemos obtener en un futuro</p>
                    <div id="mc_embed_signup">
                       
                    </div>
                </div>
            </div>
        </div>

        <div class="row footer-bottom d-flex justify-content-between">
            <p class="col-lg-8 col-sm-12 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved 
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
            <div class="col-lg-4 col-sm-12 footer-social">
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fa fa-dribbble"></i>
                </a>
                <a href="#">
                    <i class="fa fa-behance"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- End footer Area -->