<style type="text/css">
	.login{
		width: 60%;
		margin: auto;
		 margin-bottom: 100px;
		 

	}
	
</style>
<body>
<div class="login">
	<div class="form-header">
	    <h3 class="form-title"><i class="fa fa-user"></i> Inicia sesion</h3><br>            
	  </div>
	<div class="row">
		 <label  class="control-label">Usuario</label>
		 <input type="text" placeholder="usuario" class="form-control"><br>
		
	</div>
	<div class="row">
		 <label  class="control-label">Password</label>
		 <input type="password" placeholder="contraseña"  class="form-control"><br>
	</div>
	 <div class="row">	
		<button type="button" class="main_btn text-uppercase">Ingresar</button>
	</div>
</div>
</body>