<input type="text" placeholder="Nombre" ng-model="nombre"><br>
<input type="text" placeholder="Apellidos" ng-model="apellidos"><br>
<label>Fecha de nacimiento</label>
<input type="date" ng-model="fechaNacimiento"><br>
<input type="number" placeholder="Peso en kg" ng-model="peso"><br>
<input type="number" placeholder="Teléfono" ng-model="telefono"><br>
<input type="email" placeholder="Correo Electrónico" ng-model="email"><br>
<input type="password" placeholder="Contraseña" ng-model="password"><br>
<button type="button" ng-click="login()">Registrar</button>